* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background: url(images/drug.jpg);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  background-color: aliceblue;
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 10px 6rem;
  background-color: #e5e4e4;
  z-index: 1000; /* Ensure nav is on top of other content */
  box-shadow: 0px 5px 10px rgba(0, 0,0 , 0.3);
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 10px 20px;
}

li a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Adjusted transition duration */
  font-size: 1.2rem;
  font-weight: 600;
}

.logins{
  background-color: #f04604;
  padding: 8px 15px;
  border-radius: 10px;
  color: white;
  transition: .5s;
}

.logins:hover{
  background-color: #014701;
  padding: 8px 15px;
  border-radius: 10px;
  color: white;
}

li a:hover {
  color: #f04604;
}

.Logo {
  font-size: 30px;
}

.Logo span {
  color: #f34f03;
}

.img__container {
  width: 100%;
  position: absolute;
  top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  width: 40%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0,0 , 0.3);
}
.signUp__container {
  width: 40%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0,0 , 0.3);
}
.login__container h1 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 3rem;
  margin-top: 30px;
}
.signUp__container h1 {
  font-size: 45px;
  font-weight: 500;
  padding: 1rem 1rem;
}
.login__container input {
  width: 80%;
  padding: 2px;
  font-size: 20px;
  margin-bottom: 3rem;
  cursor: pointer;
  border: none;
  outline: none;
  /* border: 1px solid #f04604; */
  border-bottom: 2px solid #f04604;
  padding: 10px;
  position: relative;

}


.signUp__container input {
  width: 80%;
  padding: 2px;
  font-size: 20px;
  margin-bottom: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  /* border: 1px solid #f04604; */
  border-bottom: 2px solid #f04604;
  padding: 10px;
  position: relative;
  border-radius: 2px;
}
.login__container button {
  width: 50%;
  padding: 5px;
  font-size: 20px;
  background-color: #f04604;
  border: none;
  border-radius: 10px;
  margin-bottom: 3rem;
  padding: 10px;
  transition: .5s;
  cursor: pointer;
}

.login__container button a{
  text-decoration: none;
  font-weight: bold;
  color: #e5e4e4;

}
.signUp__container button {
  width: 50%;
  padding: 5px;
  font-size: 20px;
  background-color: #f04604;
  border: none;
  border-radius: 10px;
  margin-bottom: 3rem;
  padding: 10px;
  transition: .5s;
  cursor: pointer;
  color:white ;
  font-weight: bold;
}
.login__container button:hover {
  background-color: rgb(3, 83, 3);
  
}
.signUp__container button:hover {
  background-color: #014701;
  color: wheat;

  
}
.login__container p {
  position: relative;
  bottom: 20px;
  font-weight: 500;
  font-size: 1rem;
}
.login__container p a{
  text-decoration: none;
  color: red;
}

.login__container p a:hover{
  border-bottom: 2px solid;
  
}
.signUp__container p {
  position: relative;
  bottom: 20px;
  font-size: 1rem;
}

.signUp__container p a{
  text-decoration: none;
  color: red;

}
.signUp__container p a:hover{
  border-bottom: 2px solid;
 

}
